body{
    margin:0;
    font-family:Arial;
    background:#101010;
    color:white;
}

header{
    background:#1f4d1f;
    padding:30px;
    text-align:center;
}

nav{
    background:#163816;
    padding:15px;
    display:flex;
    justify-content:center;
    gap:25px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.banner{
    text-align:center;
    padding:50px;
}

.cards{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
    padding:30px;
}

.card{
    background:#1b1b1b;
    width:280px;
    padding:20px;
    border-radius:12px;
    text-align:center;
}

button{
    background:#2e8b57;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#45b96d;
}

footer{
    text-align:center;
    padding:20px;
    background:#1f4d1f;
}